<tr>
  <td><%= order.user_id %></td>
  <td><%= order.id %></td>
  <td><%= order.user.full_name %></td>
  <td><%= order.user.email %></td>
  <td><%= order.user.phone %></td>
  <td><%= order.ordered_products.size %></td>
  <td><%= order.payment_method %></td>
  <td>
    <% order.ordered_products.each  do |item| %>
    Name: <%= item.product.title %>,   Quantity: <%= item.quantity %><br>
    <% end %>
  </td>
</tr>
