<div class="container p-5">
  <div class="card">
    <div class="card-header bg-primary text-light">
      <h2><%= current_user.full_name %></h2>
    </div>

    <div class="card-body border-bottom border-3 border-primary">
      <div class="d-flex">
        <div class="col-5">
          <h5 class="card-title">First Name</h5>
          <p class="card-text"><%= @user.firstname %></p>

          <h5 class="card-title">Last Name</h5>
          <p class="card-text"><%= @user.lastname %></p>

          <h5 class="card-title">Username</h5>
          <p class="card-text"><%= @user.username %></p>

          <h5 class="card-title">Email</h5>
          <p class="card-text"><%= @user.email %></p>

          <h5 class="card-title">Phone</h5>
          <p class="card-text"><%= @user.phone %></p>
        </div>
        <div class="col-5">
          <h5 class="card-title">Country</h5>
          <p class="card-text"><%= @user.country %></p>

          <h5 class="card-title">State</h5>
          <p class="card-text"><%= @user.state %></p>

          <h5 class="card-title">City</h5>
          <p class="card-text"><%= @user.city %></p>

          <h5 class="card-title">Address</h5>
          <p class="card-text"><%= @user.address %></p>

          <h5 class="card-title">Zip code</h5>
          <p class="card-text"><%= @user.zip_code %></p>

        </div>
      </div>
    </div>

    <div class="card-footer bg-primary">
      <%= link_to "Delete", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger px-3 mx-1' %>
    </div>
  </div>

  <div class="container mt-5">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
            <h2>Orders</h2>
          </button>
        </h2>
        <div id="collapse-three" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-bordered table-striped">
              <thead class="bg-primary text-light">
                <td>Order Id</td>
                <td>Price</td>
                <td>discount</td>
                <td>Payment type</td>
                <td>Ordered Items</td>
              </thead>

              <tbody>
                <%= render partial: 'order', collection: @user.orders %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
