<% if params[:action] == 'index' %>
  <%= link_to "View", { controller: params[:controller], action: :show, id: item }, class: 'btn btn-success' %>
<% end %>

<% unless params[:action] == 'index' %>
  <%= link_to "Back", 'javascript:history.back()', class: 'btn btn-success px-3 mx-1' %>
<% end %>

<% unless params[:action] == 'edit' %>
  <%= link_to "Edit", { controller: params[:controller], action: :edit, id: item }, class: 'btn btn-warning px-3 mx-1' %>
<% end %>

<button class="btn btn-danger px-3 mx-1 del-btn" id="<%= item.id %>" name="<%= controller_name %>" data-bs-toggle="modal" data-bs-target="#<%= controller_name %>-<%= item.id %>">Delete</button>

<div class="modal fade" id="<%= controller_name %>-<%= item.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= link_to "Confirm", { controller: params[:controller], action: :show, id: item }, method: :delete, class: 'btn btn-danger px-3 mx-1' %>
      </div>
    </div>
  </div>
</div>
