<h3>Select your payment preference:</h3>
<%= form_with url: user_orders_path, method: :post, id: "payment-form", local: false do |f| %>
  <%= f.radio_button :payment_method, Order::CASH %> Cash on Delivery
  <%= f.radio_button :payment_method, Order::ONLINE, class: 'ms-5' %> Credit/Debit card
  <div class="d-none" id="card">
    <div id="dropin-container"></div>
  </div>
  <%= f.hidden_field :nonce, id: 'nonce' %>
  <div class="actions">
    <%= link_to 'confirm', 'javascript:void(0);', id: 'payment-submission', class: 'btn btn-primary m-2' %>
  </div>
<% end %>

<script>
  var form = $('#payment-form');
  var submitButton = $('#payment-submission');
  var client_token = "<%= @client_token %>";
  var option = $("input[type='radio'][name='payment_method']");

  option.change(function() {
    if (this.value == 'online') {
      $('#card').removeClass('d-none').addClass('d-block');
    }
  });

  braintree.dropin.create({
    authorization: client_token,
    selector: '#dropin-container'
  }, function (err, dropinInstance) {
    if (err) {
      console.log('braintree Error',err);
      return;
    }
    submitButton.on('click', function (event) {
      if(option.value == 'online') {
        dropinInstance.requestPaymentMethod(function (err, payload) {
          if (err) {
            console.log('payload Error', err);
          }

          $('#nonce').val(payload.nonce);
          form.submit();
        });
      } else {
        form.submit();
      }
    });
  });
</script>
