<tr>
  <td><%= product.id %></td>
  <td><%= product.title %></td>
  <td><%= product.price %></td>
  <td><%= product.category.name if product.category%></td>
  <td><%= product.status %></td>
  <td>
    <%= render 'shared/links', item: product %>
  </td>
</tr>
