<div class="container-fluid">
  <%= render 'shared/header' %>

  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-light">
      <td><%= sortable "id" %></td>
      <td><%= sortable "title" %></td>
      <td><%= sortable "price" %></td>
      <td>Description</td>
      <td><%= sortable "status" %></td>
      <td>Actions</td>
    </thead>

    <tbody>
      <%= render @products %>
    </tbody>
  </table>
  <%= paginate @products%>
</div>
