<div class="container-fluid">
  <%= render 'shared/header' %>

  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-light">
      <td><%= sortable "id" %></td>
      <td><%= sortable "firstname" %></td>
      <td><%= sortable "lastname" %></td>
      <td><%= sortable "username" %></td>
      <td><%= sortable "email" %></td>
      <td><%= sortable "role" %></td>
      <td><%= sortable "confirmed_at", "Status" %></td>
      <td>Actions</td>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <%= paginate @users %>
</div>
