<div class="container m-5">
  <h2>Send invitation</h2>

  <%= form_for [:admin, @user], html: { method: :post } do |f| %>
    <%= render 'shared/errors', item: @user %>

    <div class="form-group mt-2">
      <%= f.label :firstname, value: "First name", class: "form-label" %>
      <%= f.text_field :firstname, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= f.label :lastname, value: "Last name", class: "form-label" %>
      <%= f.text_field :lastname, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= f.label :username, class: "form-label" %>
      <%= f.text_field :username, autofocus: true, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit 'Send invitation', class: 'btn btn-primary ms-0 m-5' %>
    </div>
  <% end %>
</div>
