<div class="container p-5">
  <div class="card">
    <div class="card-header bg-primary text-light">
<<<<<<< HEAD
      <h2><%= @user.full_name %></h2>
=======
      <h2><%= @user.full_name.titleize %></h2>
>>>>>>> 04f6687 (admin; view user profile fucntionality added)
    </div>

    <div class="card-body border-bottom border-3 border-primary">
      <h5 class="card-title">First Name</h5>
      <p class="card-text"><%= @user.firstname %></p>

      <h5 class="card-title">Last Name</h5>
      <p class="card-text"><%= @user.lastname %></p>

      <h5 class="card-title">Username</h5>
      <p class="card-text"><%= @user.username %></p>

      <h5 class="card-title">Email</h5>
      <p class="card-text"><%= @user.email %></p>

      <h5 class="card-title">Status</h5>
      <p class="card-text"><%= @user.confirmation_status %></p>
    </div>

    <div class="card-footer bg-primary">
      <%= render 'shared/links', item: @user %>
    </div>
  </div>
</div>
