<tr>
  <td><%= coupon.id %></td>
  <td><%= coupon.name %></td>
  <td><%= coupon.discount %></td>
  <td><%= coupon.discount_type %></td>
  <td>
    <%= render 'admin/shared/links', item: coupon %>

  </td>
</tr>
