<div class="container p-5">
  <div class="card">
    <div class="card-header bg-primary text-light">
<<<<<<< HEAD
      <h2><%= @coupon.titleize_name %></h2>
    </div>

    <%= render 'form' %>

    <div class="card-footer mt-3 bg-primary">
      <%= render 'shared/links', item: @coupon %>
=======
      <h2><%= @coupon.name.titleize %></h2>
    </div>

    <%= render 'coupon_form' %>

    <div class="card-footer mt-3 bg-primary">
      <%= render 'admin/shared/links', item: @coupon %>
>>>>>>> 6a8ce91 (coupon views, schema changes)
    </div>
  </div>
</div>
