<div class="container p-5">
  <div class="card">
    <div class="card-header bg-primary text-light">
      <h2><%= @coupon.titleize_name %></h2>
    </div>

    <div class="card-body border-bottom border-3 border-primary">
      <h5 class="card-title">Name</h5>
      <p class="card-text"><%= @coupon.name %></p>

      <h5 class="card-title">Discount Value</h5>
      <p class="card-text"><%= @coupon.discount %></p>

      <h5 class="card-title">Discounted Products</h5>
      <p class="card-text">
        <ul>
          <% @coupon.products.each do |product|  %>
            <li><%= product.title %></li>
          <% end %>
        </ul>
      </p>
    </div>

    <div class="card-footer bg-primary">
      <%= render 'shared/links', item: @coupon %>
    </div>
  </div>
</div>
